body{padding:50px;font:14px "Lucida Grande",Helvetica,Arial,sans-serif}a{color:#00B7FF}

.arrow-up {
	width: 0; 
	height: 0; 
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	
	border-bottom: 15px solid #808080;
}

.arrow-down {
	width: 0; 
	height: 0; 
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	
	border-top: 15px solid #808080;
}

.arrow-up.on {
/*	width: 0; 
	height: 0; 
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;*/
	
	border-bottom: 15px solid #FF9900;

}

.arrow-down.on {
	/*width: 0; 
	height: 0; 
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;*/
	
	border-top: 15px solid #FF9900;
}